@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body{
  background-color: black;
}

.featured, h1{
  color: #ffffff;
}

.card-img-top{
  width: 100%;
  background-size: contain;
}

.container {
   z-index:2;
}

.header {
  margin-top:1%;
  color:#fff;
}

.header h1 {
   color:#fff;
}

.form-content{
  margin: 0 auto;
}

.btn, .btn-primary{
  margin-top: 3%;
}

.form-group{
  margin-bottom: 5rem;
}

.lead{
  font-weight:400;
}

h2{
  font-size: 3rem;
  color: #ffffff;
  font-family: 'Great Vibes', cursive;
}
